---
title: Azure OpenAI Demo Center
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/image/azure-3d-hero-openai.png
intro: 
  - excerpt: For outcome demostration only, not for production use, there is no SLA
feature_row:
  - image_path: assets/image/1.png
    alt: "Enterprise Knowledge Base"
    title: "Enterprise Knowledge Base"
    excerpt: "__Guide:__ Using chat to search enterprise knowledge base from pre-provided PDF documents<br>
              __Technology:__ OpenAI ChatGPT+Azure Cognitive Search<br><br>
              You can access [Source Code](http://aka.ms/entGPTSearch) to deploy and customize your own application"
    btn_label: "More Details"
    btn_class: "btn--primary"
    url: /azure-search-openai-demo.html
  - image_path: assets/image/2.png
    alt: "Azure OpenAI Embeddings QnA"
    title: "Azure OpenAI Embeddings QnA"
    excerpt: "__Guide:__ Use _Add Document_ to upload documents or pictures, then search with question<br>
              __Technology:__ OpenAI embedding+Azure Form Recognizer, using OpenAI Embedding for intelligent search and summarization<br><br>
              You can access [Source Code](https://github.com/ruoccofabrizio/azure-open-ai-embeddings-qna) to deploy and customize your own application"
    btn_label: "View Demo"
    btn_class: "btn--primary"
    url: "https://wm-site.azurewebsites.net/"
  - image_path: assets/image/5.png
    alt: "Chatbot with Session History"
    title: "Chatbot with Session History"
    excerpt: "__Guide:__ Similar experience as ChatGPT on openai.com<br>
              __Technology:__ Azure Cosmos DB + Azure OpenAI ChatGPT<br><br>
              You can access [Source Code](https://github.com/Azure-Samples/cosmosdb-chatgpt) to deploy and customize your own application"
    btn_label: "View Demo"
    btn_class: "btn--primary"
    url: "https://bpyxwl265qkue-web.azurewebsites.net/"
  - image_path: assets/image/conversation_knowledge_mining.png
    alt: "Call Recording Transcript Knowledge Mining"
    title: "Call Recording Transcript Knowledge Mining"
    excerpt: "__Guide:__ Customer Service conversation insight on hotel and travel booking conversations,  Search for a city name to get started (e.g. seattle, milan, etc...)<br>
              __Technology:__ Azure Speech Service, Azure Cognitive Search, Azure OpenAI, Azure App Service<br><br>
              You can access [Source Code](https://github.com/microsoft/Customer-Service-Conversational-Insights-with-Azure-OpenAI-Services) to deploy and customize your own application"
    btn_label: "View Demo"
    btn_class: "btn--primary"
    url: "https://conversational-knowledge-mining.azurewebsites.net/"
  - image_path: assets/image/6.png
    alt: "ChatGPT with Relational Databse"
    title: "ChatGPT with Relational Databse"
    excerpt: "__Guide:__ Click + on the left to creat connection to default MySQL database or your own databse, then query with natual language<br>
              __Technology:__ ChatGPT generates SQL script based on relational database structure<br><br>
              You can access [Source Code](https://github.com/richardeee/AzureSQLChatGPTDemo) to deploy and customize your own application"
    btn_label: "View Demo"
    btn_class: "btn--primary"
    url: "https://sqlchatteo.azurewebsites.net/"  

usefullinkes: 
  - title: Useful Links
feature_row_article:
  - title: "Teams"
    excerpt: "[Deploy your ChatGPT based model securely using Microsoft Teams, Power Virtual Agent and Azure OpenAI](https://devblogs.microsoft.com/microsoft365dev/deploy-your-chatgpt-based-model-securely-using-microsoft-teams-power-virtual-agent-and-azure-openai/)<br>
              [Integrate Azure Open AI in Teams Channel via Logic App](https://techcommunity.microsoft.com/t5/azure-integration-services-blog/integrate-azure-open-ai-in-teams-channel-via-logic-app/ba-p/3776048)<br>
              [Create a conversational bot in Microsoft Teams using OpenAI - YouTube](https://www.youtube.com/watch?v=PtdOdYax84A)"

  - title: "Power Platform"
    excerpt: "[OpenAIWorkshop: workshop materials to build intelligent solutions on Open AI](https://github.com/microsoft/OpenAIWorkshop)"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="usefullinkes" type="center" %}

{% include feature_row id="feature_row_article" type="Left" %}