---
title: Azure OpenAI Demo Center
layout: splash
date: 2023-09-25T9:20:02-05:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/image/azure-3d-hero-openai.png
intro: 
  - excerpt: For outcome demostration only, not for production use, there is no SLA
feature_row:
  - image_path: assets/image/sample-app-aoai-chatGPT.png
    alt: "Sample Chat App with AOAI"
    title: "Sample Chat App with AOAI"
    excerpt: "__Description:__ Sample which Azure OpenAI Studio is using. Support deploying from Azure OpenAI Studio, direct deploy to Azure with ARM template, azd cli or <br>
              __Technology:__ OpenAI embedding+Azure Form Recognizer, using OpenAI Embedding for intelligent search and summarization<br><br>
              __GitHub Repo:__ [https://github.com/microsoft/sample-app-aoai-chatGPT](https://github.com/microsoft/sample-app-aoai-chatGPT)"
    btn_label: "View Demo"
    btn_class: "btn--primary"
    url: "https://sampleappaoaichat1.azurewebsites.net/"
  - image_path: assets/image/azure-search-openai-demo.png
    alt: "Enterprise Knowledge Base"
    title: "Enterprise Knowledge Base"
    excerpt: "__Description:__ Using chat to search enterprise knowledge base from pre-provided PDF documents<br>
              __Technology:__ using azd cli to management the deployment from infrastructure to data preparation and applicaiton deployment<br><br>
              __GitHub Repo:__ [http://aka.ms/entGPTSearch](http://aka.ms/entGPTSearch)"
    btn_label: "More Details"
    btn_class: "btn--primary"
    url: /azure-search-openai-demo.html
  - image_path: assets/image/chat-with-your-data-solution-accelerator.png
    alt: "Chat with your data solution accelerator"
    title: "Chat with your data solution accelerator"
    excerpt: "__Description:__ Using chat to search enterprise knowledge base from pre-provided PDF documents<br>
              __Technology:__ using azd cli to management the deployment from infrastructure to data preparation and applicaiton deployment<br><br>
              __GitHub Repo:__ [https://aka.ms/ChatWithYourDataSolutionAccelerator](https://aka.ms/ChatWithYourDataSolutionAccelerator)<br><br>
              
              Admin Portal: [https://chat-with-data-website-admin.azurewebsites.net](https://chat-with-data-website-admin.azurewebsites.net)"
    btn_label: "View Demo"
    btn_class: "btn--primary"
    url: "https://chat-with-data-website.azurewebsites.net"
  - image_path: assets/image/5.png
    alt: "Vector Search AI Assisstant"
    title: "Vector Search AI Assisstant"
    excerpt: "__Guide:__  The solution shows hows to generate vectors on data stored in Azure Cosmos DB using Azure OpenAI Service, then shows how to implment vector search capabilities using a variety of different vector capable databases available from Azure Cosmos DB and Azure.<br>
              __Technology:__ Azure OpenAI, Cosmos DB, Azure AI Search, Azure Container App<br><br>
              __GitHub Repo:__ [https://github.com/Azure/Vector-Search-AI-Assistant](https://github.com/Azure/Vector-Search-AI-Assistant)<br><br>
              __Hackathon__: [https://github.com/Azure/Build-Modern-AI-Apps-Hackathon](https://github.com/Azure/Build-Modern-AI-Apps-Hackathon)"
    btn_label: "Click Through Demo"
    btn_class: "btn--primary"
    url: "https://aka.ms/CopilotDemoApp"
  - image_path: assets/image/conversation_knowledge_mining.png
    alt: "Call Recording Transcript Knowledge Mining"
    title: "Call Recording Transcript Knowledge Mining"
    excerpt: "__Guide:__ Customer Service conversation insight on hotel and travel booking conversations,  Search for a city name to get started (e.g. seattle, milan, etc...)<br>
              __Technology:__ Azure Speech Service, Azure Cognitive Search, Azure OpenAI, Azure App Service<br><br>
              __GitHub Repo:__ [https://github.com/microsoft/Customer-Service-Conversational-Insights-with-Azure-OpenAI-Services](https://github.com/microsoft/Customer-Service-Conversational-Insights-with-Azure-OpenAI-Services)"
    btn_label: "View Demo"
    btn_class: "btn--primary"
    url: "https://conversational-knowledge-mining.azurewebsites.net/"

  - image_path: assets/image/reddogparmacy.png
    alt: "Red Dog Pharmacy"
    title: "Red Dog Pharmacy"
    excerpt: "__Guide:__  A retail scenario that depicts a typical event-driven microservices architecture<br>
              __Technology:__ Azure AI Services, Azure OpenAI, Hugging Face<br><br>
              __GitHub Repo:__ [https://github.com/Azure/reddog-solutions](https://github.com/Azure/reddog-solutions)"
    btn_label: "View Demo"
    btn_class: "btn--primary"
    url: "https://reddog-solutions.com/home/"
    
  - image_path: assets/image/Real-Time-Transactions.png
    alt: "Transaction/Order processing"
    title: "Transaction/Order processing"
    excerpt: "__Guide:__  The scenario centers around a payments and transactions solution. Members having accounts, each account with corresponding balances, overdraft limits and credit/debit transactions.<br>
              __Technology:__ Azure Cosmos DB, AKS, Azure OpenAI Services, Static Web App<br><br>
              __GitHub Repo:__ [https://github.com/Azure/Real-time-Payment-Transaction-Processing-at-Scale](https://github.com/Azure/Real-time-Payment-Transaction-Processing-at-Scale)<br><br>
              __Hackathon__: [https://github.com/Azure/Real-Time-Transactions-Hackathon](https://github.com/Azure/Real-Time-Transactions-Hackathon)"

  - image_path: assets/image/Real-time-Payment-Transaction-Processing-at-Scale.png
    alt: "Medical Claim Handling Bot"
    title: "Medical Claim Handling Bot"
    excerpt: "__Guide:__  The scenario centers around a medical claims management solution. Members having coverage and making claims, providers who deliver services to the member and payers who provide the insurance coverage that pays providers for services to the members.<br>
              __Technology:__ Cosmos DB, AKS, Azure OpenAI, Azure Synapse Analytics, Event Hubs, Static Web App<br><br>
              __GitHub Repo:__ [https://github.com/Azure/Medical-Claims-Transaction-Processing-at-scale](https://github.com/Azure/Medical-Claims-Transaction-Processing-at-scale)<br><br>
              __Hackathon__: [https://github.com/Azure/Medical-Claims-Processing-Hackathon](https://github.com/Azure/Medical-Claims-Processing-Hackathon)"

---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="usefullinkes" type="center" %}

{% include feature_row id="feature_row_article" type="Left" %}