---
title: Azure OpenAI Demo Center
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/image/azure-3d-hero-openai.png
intro: 
  - excerpt: For outcome demostration only, not for production use, there is no SLA
feature_row:
  - image_path: assets/image/1.png
    alt: "Enterprise Knowledge Base"
    title: "Enterprise Knowledge Base"
    excerpt: "__Guide:__ Using chat to search enterprise knowledge base from pre-provided PDF documents<br>__Technology:__ OpenAI ChatGPT+Azure Cognitive Search<br><br>You can access [Source Code](http://aka.ms/entGPTSearch) to deploy and customize your own application"
    btn_label: "More Details"
    btn_class: "btn--primary"
    url: /azure-search-openai-demo.html
  - image_path: assets/image/2.png
    alt: "Azure OpenAI Embeddings QnA"
    title: "Azure OpenAI Embeddings QnA"
    excerpt: "__Guide:__ Use _Add Document_ to upload documents or pictures, then search with question<br>__Technology:__ OpenAI embedding+Azure Form Recognizer, using OpenAI Embedding for intelligent search and summarization<br><br>You can access [Source Code](https://github.com/ruoccofabrizio/azure-open-ai-embeddings-qna) to deploy and customize your own application"
    btn_label: "View Demo"
    btn_class: "btn--primary"
    url: "https://wmdemo-site.azurewebsites.net/"
  - image_path: assets/image/6.png
    alt: "ChatGPT with Relational Databse"
    title: "ChatGPT with Relational Databse"
    excerpt: "__Guide:__ Click + on the left to creat connection to default MySQL database or your own databse, then query with natual language<br>__Technology:__ ChatGPT generates SQL script based on relational database structure<br><br>You can access [Source Code](https://github.com/richardeee/AzureSQLChatGPTDemo) to deploy and customize your own application"
    btn_label: "View Demo"
    btn_class: "btn--primary"
    url: "https://sqlchatteo.azurewebsites.net/"  
  - image_path: assets/image/5.png
    alt: "General Chat Bot"
    title: "General Chat Bot"
    excerpt: "__Guide:__ Similar experience as ChatGPT on openai.com<br>__Technology:__ Azure Cosmos DB + Azure OpenAI ChatGPT<br><br>You can access [Source Code](https://github.com/Azure-Samples/cosmosdb-chatgpt) to deploy and customize your own application"
    btn_label: "View Demo"
    btn_class: "btn--primary"
    url: "https://bpyxwl265qkue-web.azurewebsites.net/"
  - image_path: assets/image/3.png
    alt: "Microsoft Teams integrated Chat Bot"
    title: "Microsoft Teams integrated Chat Bot"
    excerpt: "__Guide:__ Chat Bot integrated with Web or Microsoft Teams<br>__Technology:__ ChatGPT+Azure App Service+Teams<br><br>You can access [Source Code](https://github.com/microsoft/gps-csa-tech-stack/tree/main/Create-A-ChatGPT-Bot-APP-and-Deploy-To-Azure-APP-Service-or-Teams-APP) to deploy and customize your own application"
    btn_label: "View Demo"
    btn_class: "btn--primary"
    url: "https://chatgpt2022.azurewebsites.net/"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
